<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>添加房屋</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
<div class="layui-row">
    <form class="layui-form layui-col-lg-offset2 layui-col-lg8 layui-col-md-offset2 layui-col-md8"
          style="margin-top: 5%" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">房屋名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属区域</label>
            <div class="layui-input-block">
                <select name="district" lay-verify="required" lay-search="">
                    <option th:each="district:${districts}" th:value="${district}" th:text="${district}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择小区</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">房屋出售总价</label>
            <div class="layui-input-inline">
                <input type="number" name="total_price" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">万元</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">建筑年代</label>

        </div>
        <div class="layui-form-item">

        </div>
    </form>
</div>

</body>
<script src="layui/layui.js"></script>
<script type="text/javascript" src="/houseinfomanager/add_house.js"></script>
<script type="text/javascript" src="/js/cache.js"></script>
</html>