<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>房源管理</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
<div class="layui-card">
    <blockquote  class="layui-card-header layui-elem-quote">房源管理</blockquote >
    <div class="layui-card-body">
        <table id="house_manager_id" lay-skin="line" lay-filter="house_manager_filter"></table>
    </div>
</div>
<script type="text/html" id="houseInfo_tool_bar">
    <div class="layui-btn-group">
        {{#  if(d.assessor == 2){ }}
        <a class="layui-btn layui-btn-xs" lay-event="assessor">审核</a>
        {{#  } else { }}
        <a class="layui-btn layui-btn-xs layui-disabled">已审</a>
        {{#  } }}
        {{# if(d.SaleStop == false){}}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="sold_out">下架</a>
        {{# } else if(d.SaleStop == true) {}}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="sold_out">上架</a>
        {{# }}}
    </div>
</script>
</body>
<script src="layui/layui.js"></script>
<script type="text/javascript" src="/houseinfomanager/houseinfomanager.js"></script>
<script type="text/javascript" src="/js/cache.js"></script>
</html>