<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>审核房源</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/public.css" media="all"/>
    <link rel="stylesheet" href="/css/publish.css" media="all">
    <link href="/imageupload/css/common.css" type="text/css" rel="stylesheet">
    <link href="/imageupload/css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">气源费</label>
                <div class="layui-input-inline">
                    <select name="air" lay-verify="required" lay-search="">
                        <option th:selected="${houseInfo.airSourceExpense == true}" value="1">已缴纳</option>
                        <option th:selected="${houseInfo.airSourceExpense == false}" value="0">未缴纳</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">产权类型</label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${houseInfo.propertyRightsType}" name="property_rights_type" lay-verify="property_rights_type" placeholder="" autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">维修基金</label>
                <div class="layui-input-inline">
                    <select name="maintain" lay-verify="required" lay-search="">
                        <option th:selected="${houseInfo.maintenanceFunds == true}" value="1">已缴纳</option>
                        <option th:selected="${houseInfo.maintenanceFunds == false}" value="0">未缴纳</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">有无户口</label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${houseInfo.residenceBooklet}" name="residence_booklet" lay-verify="residence_booklet" placeholder="" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">房屋布局</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <select name="room" lay-verify="required" lay-search="">
                            <option th:selected="${room == '0'}" value="0">0</option>
                            <option th:selected="${room == '1'}" value="1">1</option>
                            <option th:selected="${room == '2'}" value="2">2</option>
                            <option th:selected="${room == '3'}" value="3">3</option>
                            <option th:selected="${room == '4'}" value="4">4</option>
                            <option th:selected="${room == '5'}" value="5">5</option>
                            <option th:selected="${room == '6'}" value="6">6</option>
                            <option th:selected="${room == '7'}" value="7">7</option>
                            <option th:selected="${room == '8'}" value="8">8</option>
                            <option th:selected="${room == '9'}" value="9">9</option>
                        </select>
                    </div>
                    <div class="layui-form-mid">室</div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <select name="hall" lay-verify="required" lay-search="">
                            <option th:selected="${hall == '0'}" value="0">0</option>
                            <option th:selected="${hall == '1'}" value="1">1</option>
                            <option th:selected="${hall == '2'}" value="2">2</option>
                            <option th:selected="${hall == '3'}" value="3">3</option>
                            <option th:selected="${hall == '4'}" value="4">4</option>
                            <option th:selected="${hall == '5'}" value="5">5</option>
                            <option th:selected="${hall == '6'}" value="6">6</option>
                            <option th:selected="${hall == '7'}" value="7">7</option>
                            <option th:selected="${hall == '8'}" value="8">8</option>
                            <option th:selected="${hall == '9'}" value="9">9</option>
                        </select>
                    </div>
                    <div class="layui-form-mid">厅</div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <select name="toilet" lay-verify="required" lay-search="">
                            <option th:selected="${toilet == '0'}" value="0">0</option>
                            <option th:selected="${toilet == '1'}" value="1">1</option>
                            <option th:selected="${toilet == '2'}" value="2">2</option>
                            <option th:selected="${toilet == '3'}" value="3">3</option>
                            <option th:selected="${toilet == '4'}" value="4">4</option>
                            <option th:selected="${toilet == '5'}" value="5">5</option>
                            <option th:selected="${toilet == '6'}" value="6">6</option>
                            <option th:selected="${toilet == '7'}" value="7">7</option>
                            <option th:selected="${toilet == '8'}" value="8">8</option>
                            <option th:selected="${toilet == '9'}" value="9">9</option>
                        </select>
                    </div>
                    <div class="layui-form-mid">卫</div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">房屋层级</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <select name="tier" lay-verify="required" lay-search="">
                            <option th:selected="${tier == '0'}" value="0">0</option>
                            <option th:selected="${tier == '1'}" value="1">1</option>
                            <option th:selected="${tier == '2'}" value="2">2</option>
                            <option th:selected="${tier == '3'}" value="3">3</option>
                            <option th:selected="${tier == '4'}" value="4">4</option>
                            <option th:selected="${tier == '5'}" value="5">5</option>
                            <option th:selected="${tier == '6'}" value="6">6</option>
                            <option th:selected="${tier == '7'}" value="7">7</option>
                            <option th:selected="${tier == '8'}" value="8">8</option>
                            <option th:selected="${tier == '9'}" value="9">9</option>
                            <option th:selected="${tier == '10'}" value="10">10</option>
                            <option th:selected="${tier == '11'}" value="11">11</option>
                            <option th:selected="${tier == '12'}" value="12">12</option>
                            <option th:selected="${tier == '13'}" value="13">13</option>
                            <option th:selected="${tier == '14'}" value="14">14</option>
                            <option th:selected="${tier == '15'}" value="15">15</option>
                            <option th:selected="${tier == '16'}" value="16">16</option>
                            <option th:selected="${tier == '17'}" value="17">17</option>
                            <option th:selected="${tier == '18'}" value="18">18</option>
                            <option th:selected="${tier == '19'}" value="19">19</option>
                            <option th:selected="${tier == '20'}" value="20">20</option>
                            <option th:selected="${tier == '21'}" value="21">21</option>
                            <option th:selected="${tier == '22'}" value="22">22</option>
                            <option th:selected="${tier == '23'}" value="23">23</option>
                            <option th:selected="${tier == '24'}" value="24">24</option>
                            <option th:selected="${tier == '25'}" value="25">25</option>
                            <option th:selected="${tier == '26'}" value="26">26</option>
                            <option th:selected="${tier == '27'}" value="27">27</option>
                            <option th:selected="${tier == '28'}" value="28">28</option>
                            <option th:selected="${tier == '29'}" value="29">29</option>
                            <option th:selected="${tier == '30'}" value="30">30</option>
                        </select>
                    </div>
                    <div class="layui-form-mid">/</div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <select name="all" lay-verify="required" lay-search="">
                            <option th:selected="${all == '0'}" value="0">0</option>
                            <option th:selected="${all == '1'}" value="1">1</option>
                            <option th:selected="${all == '2'}" value="2">2</option>
                            <option th:selected="${all == '3'}" value="3">3</option>
                            <option th:selected="${all == '4'}" value="4">4</option>
                            <option th:selected="${all == '5'}" value="5">5</option>
                            <option th:selected="${all == '6'}" value="6">6</option>
                            <option th:selected="${all == '7'}" value="7">7</option>
                            <option th:selected="${all == '8'}" value="8">8</option>
                            <option th:selected="${all == '9'}" value="9">9</option>
                            <option th:selected="${all == '10'}" value="10">10</option>
                            <option th:selected="${all == '11'}" value="11">11</option>
                            <option th:selected="${all == '12'}" value="12">12</option>
                            <option th:selected="${all == '13'}" value="13">13</option>
                            <option th:selected="${all == '14'}" value="14">14</option>
                            <option th:selected="${all == '15'}" value="15">15</option>
                            <option th:selected="${all == '16'}" value="16">16</option>
                            <option th:selected="${all == '17'}" value="17">17</option>
                            <option th:selected="${all == '18'}" value="18">18</option>
                            <option th:selected="${all == '19'}" value="19">19</option>
                            <option th:selected="${all == '20'}" value="20">20</option>
                            <option th:selected="${all == '21'}" value="21">21</option>
                            <option th:selected="${all == '22'}" value="22">22</option>
                            <option th:selected="${all == '23'}" value="23">23</option>
                            <option th:selected="${all == '24'}" value="24">24</option>
                            <option th:selected="${all == '25'}" value="25">25</option>
                            <option th:selected="${all == '26'}" value="26">26</option>
                            <option th:selected="${all == '27'}" value="27">27</option>
                            <option th:selected="${all == '28'}" value="28">28</option>
                            <option th:selected="${all == '29'}" value="29">29</option>
                            <option th:selected="${all == '30'}" value="30">30</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">

                    <label class="layui-form-label">房屋朝向</label>
                    <div class="layui-input-block">
                        <select name="orientation"  lay-verify="required" lay-search="">
                            <option  th:selected="${houseInfo.houseOrientation == '南北朝向'}" value="南北朝向">南北朝向</option>
                            <option  th:selected="${houseInfo.houseOrientation == '东南朝向'}" value="东南朝向">东南朝向</option>
                            <option  th:selected="${houseInfo.houseOrientation == '东朝向'}" value="东朝向">东朝向</option>
                            <option  th:selected="${houseInfo.houseOrientation == '西南朝向'}" value="西南朝向">西南朝向</option>
                            <option  th:selected="${houseInfo.houseOrientation == '北朝向'}" value="北朝向">北朝向</option>
                            <option  th:selected="${houseInfo.houseOrientation == '西朝向'}" value="西朝向">西朝向</option>
                        </select>
                    </div>
            </div>
            <div class="layui-form-item">

                    <label class="layui-form-label">房屋用途</label>
                    <div class="layui-input-block">
                        <input type="text" name="use" th:value="${houseInfo.houseUse}" lay-verify="user" placeholder="" autocomplete="off"
                               class="layui-input">
                    </div>
            </div>
            <div class="layui-form-item">

                    <label class="layui-form-label">卖房原因</label>
                    <div class="layui-input-block">
                        <input type="text" th:value="${houseInfo.sellHouseReason}" name="sell_house_reason" lay-verify="sell_house_reason" placeholder="" autocomplete="off"
                               class="layui-input">
                    </div>

            </div>
            <div class="layui-form-item">

                    <label class="layui-form-label">两税是否承担</label>
                    <div class="layui-input-block">
                        <select name="two_taxes_assume" lay-verify="required" lay-search="">
                            <option th:selected="${houseInfo.twoTaxesAssume == 0}" value="0">不承担</option>
                            <option th:selected="${houseInfo.twoTaxesAssume == 1}" value="1">承担</option>
                        </select>
                    </div>

            </div>



            <div class="layui-form-item">
                <div style="width:1140px; margin:0 auto;">
                    <div class="layui-tab layui-tab-card">
                        <div class="layui-form" style="padding: 10px 0 0 0;">
                            <div class="layui-form-item">
                                <label class="layui-form-label">房源图片上传</label>
                                <div class="layui-input-inline">
                                    <div class="layui-upload-list layui-icon">
                                        <ul id="imgZmList" >
                                            <li style="position:relative" id="addZmImg"><img src="/imageupload/img/a11.png"width="150" height="113"></li>
                                            <li style="position:relative" th:each="img:${imagelist}"><img th:src="${img}" width="150" height="113"></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <!--<div class="">-->
                                <!---->
                            <!--</div>-->
                        </div>
                    </div>
                    <div id="cropperdiv"></div>
                </div>
                <!--<div class="layui-upload">-->
                    <!--<button type="button" class="layui-btn" >多图片上传</button>-->
                    <!--<blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">-->
                        <!--预览图：-->
                        <!--<div class="layui-upload-list clear" id="demo2">-->
                            <!--<img src="/imageupload/img/a11.png" class="add-img" id="test2">-->
                        <!--</div>-->
                    <!--</blockquote>-->
                <!--</div>-->
                <!--<div class="layui-upload">-->
                    <!--<div class="img-box full">-->
                        <!--<section class=" img-section">-->
                            <!--&lt;!&ndash;<p class="up-p">作品图片：<span class="up-span">最多可以上传5张图片，马上上传</span></p>&ndash;&gt;-->
                            <!--<div class="z_photo upimg-div clear">-->

                                <!--<section class="z_file fl" id="uploadImg">-->

                                    <!--<input type="file" name="file" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple="">-->
                                <!--</section>-->
                            <!--</div>-->
                        <!--</section>-->
                    <!--</div>-->
                    <!--<aside class="mask works-mask">-->
                        <!--<div class="mask-content">-->
                            <!--<p class="del-p">您确定要删除作品图片吗？</p>-->
                            <!--<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>-->
                        <!--</div>-->
                    <!--</aside>-->
                <!--</div>-->

            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1" id="uploadimg">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>

        </form>
    </div>
</div>

</body>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/move.js"></script>
<script type="text/javascript" src="/js/publishImg.js"></script>
<script type="text/javascript" src="/houseinfomanager/review.js"></script>


</html>